# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment Variables
.env

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage

# Model Artifacts
artifacts/model_v2.pkl
artifacts/*.joblib
artifacts/*.pkl

# Large datasets
data/
*.csv

# Temporary files
tmp/
temp/